# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\My Websites\m.daodejing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
